/* ===========================
        1. Global styles 
   =========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: "Ubuntu", serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    width: max-content;
}

hr{
    border: none;
    border-bottom: 1px solid;
    border-color: rgb(234, 234, 234);
}

:root {
    /* == colors == */
    --primary-color: #df0000;
    --primary-color-hover: #bc1220;
    --secondary-color: #0B2154;
    --text-dark-color: #111111;
    --text-white-color: #FFFFFF;
    --text-gray-color: #596277;
}

/* ===========================
        2. Layout styles 
   =========================== */

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 90%;
}

.backdrop {
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.628);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #df83835b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f6020273;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ce0909b3;
}

/* ===========================
        3. Component styles 
   =========================== */

.btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.btn-primary {
    padding: 1.5rem 2rem;
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: var(--text-white-color);
    font-size: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: unset;
    text-transform: uppercase;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-menu {
    display: none;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border: 1px solid rgba(190, 190, 190, 0.164);
    border-radius: 3px;
}

.btn-menu:hover {
    background-color: rgba(229, 229, 229, 0.257);
}

.btn-arrow {
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: 3px;
    transition: .2s ease;
    position: fixed;
    bottom: -100px;
    right: 20px;
    z-index: 15;
}

.btn-arrow.active-btn {
    bottom: 20px;
    right: 20px;
}

.btn-arrow:hover {
    background-color: red;
    transform: scale(1.1);
}

.btn-arrow:active {
    transform: scale(1);
}

.btn-services {
    padding: 20px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    background-color: #e2dfe0de;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    text-align: start;
    transition: .3s ease;
}

.btn-services img {
    width: 40px;
    height: 40px;
}

.btn-services.serv-btn-active img {
    filter: brightness(0) invert(1);
}

.btn-services:hover {
    background-color: #c5c5c5c5;
}
.btn-services:active {
    transform: scale(0.95);
}

.btn-services.serv-btn-active {
    color: white;
    background-color: var(--primary-color);
}

.section-header-title {
    text-align: center;
}

.section-header-title p {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
}

.section-header-title h2 {
    font-size: 35px;
}

.swiper {
    width: 100%;
    height: calc(100vh - 65px);
    max-height: 1000px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-timing-function: ease-in-out;
}

.home-image-animate {
    opacity: 0;
    transform: scale(0.6);
    transition-delay: 400ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.swiper-slide-active .home-image-animate {
    opacity: 1;
    transform: scale(1);
}

.home-text-animate {
    opacity: 0;
    transform: translateY(-30px);
    transition-delay: 400ms;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.swiper-slide-active .home-text-animate {
    opacity: 1;
    transform: translateX(0px);
}

.swiper-button-prev {
    color: rgba(182, 182, 182, 0.454) !important;
    padding-left: 1%;
}

.swiper-button-next {
    color: rgba(182, 182, 182, 0.454) !important;
    padding-right: 1%;
}

.swiper-button-prev:hover {
    color: rgba(204, 203, 203, 0.766) !important;
}

.swiper-button-next:hover {
    color: rgba(204, 203, 203, 0.766) !important;
}

.swiper-slide.slide-1 {
    background-image: url("../images/captiva.jpeg");

}

.swiper-slide.slide-2 {
    background-image: url("../images/lacetti.png");

}

.swiper-slide.slide-3 {
    background-image: url("../images/malibu.jpg");
}



/* ===========================
        4. Header section 
   =========================== */

header {
    box-shadow: 0px 7px 54px 0px rgba(0, 0, 0, 0.31);
    transition: .3s ease-in-out;
}

header.header-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid rgba(214, 214, 214, 0.439); */
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
}

.header-content .header-logo img {
    width: 120px;
    object-fit: contain;
    padding: 0px 20px;
}

.header-content nav .header-nav_menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

.header-content nav .header-nav_menu li a:not(.btn):hover {
    transition: .2s ease-in-out;
    color: var(--primary-color);
}

.header-nav_content {
    padding: 0px 20px;
    display: none;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    background-color: #ffffff;
    height: 0;
    transition: .3s ease-in
}

.header-nav_content.active {
    height: 210px;
}

.header-nav_content li a:hover {
    transition: .2s ease-in-out;
    color: var(--primary-color);
}

/* ===========================
        5. Main section 
   =========================== */

.main {
    padding-top: 50px;
}

.main .swiper-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main .swiper-content>div {
    flex: 1;
}

.main .swiper-content .main-title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    color: var(--text-white-color);
}

.main .swiper-content .main-title p {
    font-size: 24px;
    font-weight: 600;
}

.main .swiper-content .main-title h1 {
    font-size: 62px;
    font-weight: 600;
}

/* ===========================
        6. Services section 
   =========================== */

.services {
    margin: 10px 0;
}

.services .services-cards {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(300px,1fr));
    gap: 20px;
}

.services .services-cards .service-card {
    padding: 35px 40px;
    background-color: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    transition: 0.2s ease-in;
}
.services .services-cards .service-card:hover {
    background-color: rgb(230, 224, 224);
}

.services .services-cards .service-card img {
    width: 40px;
    height: 40px;
}

/* ===========================
        7. About section 
   =========================== */

.about {
    margin: 20px 0;
    padding-top: 80px;
}

.about .about-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.about .about-content > div {
    flex: 1;
}

.about .about-content .about-image {
    position: relative;
}

.about .about-content .about-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.about .about-content .about-image .about-image-title {
    width: 120px;
    height: 120px;
    background-color: #5151513d;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    flex-direction: column;
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    border-radius: 3px;
}

.about .about-content .about-image .about-image-title span  {
    text-shadow: 2px 2px 2px rgba(22, 22, 22, 0.3);
}

.about .about-content .about-image .about-image-title span .year-count {
    font-size: 40px;
}

.about .about-content .about-title p.header-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.about .about-content .about-title h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about .about-content .about-title h2 span {
    color: var(--primary-color);
}

.about .about-content .about-title p {
    color: var(--text-gray-color);
}

.about .about-content .about-title .about-cards {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about .about-content .about-title .about-btn {
    margin-top: 30px;
}

.about .about-content .about-title .about-cards .about-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.about .about-content .about-title .about-cards .about-card h4 {
    margin-bottom: 5px;
    font-size: 18px;
}

.about .about-content .about-title .about-cards .about-card .card-count {
    height: 35px;
    width: 40px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 500;
}

/* ===========================
        8. Info section 
   =========================== */
.info {
    margin: 20px 0;
    background-image: url("../images/car2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.722);
}

.info .info-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 10;
}

.info .info-content .info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
}

.info .info-content .info-card h4{
    font-size: 25px;
    margin-bottom: 10px;
}

/* ===========================
        8. Services-tab section 
   =========================== */


.services-tab {
    padding-top: 80px;
    margin-bottom: 40px;
}

.services-tab .services-tab-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.services-tab .services-tab-content .services-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}



.services-tab .services-tab-content .services-right {
    flex: 2.5;
    display: flex;
    gap: 20px;
}

.services-tab .services-tab-content .services-right .services-right-image {
    flex: 1;
}

.services-tab .services-tab-content .services-right .services-right-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
    max-height: 400px;
}

.services-tab .services-tab-content .services-right .services-right-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1.5;
}

.services-tab .services-tab-content .services-right .services-right-title h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

.services-tab .services-tab-content .services-right .services-right-title p {
    color: var(--text-gray-color);
    margin-bottom: 20px;
}

.services-tab .services-tab-content .services-right .services-right-title .services-check {
    display: flex;
    align-items: center;
    color: var(--text-gray-color);
}

.services-tab .services-tab-content .services-right .services-right-title .services-check i{
    font-size: 25px;
    color: green;
}

.services-tab .services-tab-content .services-right .services-right-title .services-btn {
   margin-top: 20px;
}

/* ===========================
        9. Contact section 
   =========================== */

.contact {
    padding-top: 70px;
    margin-bottom: 20px;
}

.contact .contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .contact-content .contact-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.contact .contact-content .contact-cards .contact-card {
    padding: 30px 30px;
    width: 100%;
    background-color: #eaeaea;
}

.contact .contact-content .contact-cards .contact-card .email-card {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-gray-color);
    margin-top: 10px;
}

.contact .contact-content .contact-cards .contact-card .email-card i {
    color: var(--primary-color);
    font-size: 20px;
}

/* ===========================
         Responsive Design 
   =========================== */

@media (max-width : 1024px) {
    .header-content .header-logo img {
        height: 50px;
    }

    .header-content nav .header-nav_menu {
        font-size: 14px;
        gap: 15px;
    }

    .swiper {
        width: 100%;
        height: calc(100vh - 100px);
        max-height: 1000px;
    }

    .main .swiper-content .main-title p {
        font-size: 20px;
    }
    
    .main .swiper-content .main-title h1 {
        font-size: 52px;
    }

    .section-header-title p {
        font-size: 16px;
    }
    
    .section-header-title h2 {
        font-size: 25px;
    }

    .about .about-content {
        flex-direction: column;
    }

    .about .about-content .about-image img{
        height: 300px;
    }

    .services-tab .services-tab-content {
        flex-direction: column;
    }
}

@media (max-width : 800px) {
    .header-content nav .header-nav_menu {
        display: none;
    }

    .header-content nav .btn-menu {
        display: block;
        margin-right: 20px;
    }

    .header-nav_content {
        display: flex;
    }

    .swiper {
        width: 100%;
        height: 500px;
        max-height: 1000px;
    }

    .main .swiper-content .main-title {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main .swiper-content .main-title p {
        font-size: 18px;
    }
    
    .main .swiper-content .main-title h1 {
        font-size: 42px;
    }

    .main .swiper-content .main-image {
        display: none;
    }

    .info .info-content {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .services-tab .services-tab-content .services-right {
        flex-direction: column;
    }

    .contact .contact-content .contact-cards {
        flex-direction: column;
    }
}

@media (max-width : 428px) {
    .swiper {
        width: 100%;
        height: 500px;
        max-height: 1000px;
    }

    .info .info-content {
        grid-template-columns: repeat(1, 1fr);
        
    }
}